 .container-acceso{
    width: 50%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-radius: 3px;
    border: 1px solid rgb(13, 82, 173);
}

.bot-acces{
    width: 200px;
    height: auto;
    padding: 20px;
    font-size: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}

body{
    position: relative;
    margin-top: 70px;
    background: #FFA17F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-name{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(77, 125, 187);
    border-radius: 3px;
    text-align:center;
    font-size: 22px;
    padding: 15px;
    color: white;
}
.ventana-saludo{
    position: relative;
    height: 35%;
}
/* BOTONES VENTANAS */
.botBack{
    position: absolute;
    border-radius: 3px;
    bottom: 20px;
    width: auto;
    font-size: 15px;
    padding: 8px;
    cursor: pointer;
}

.continuar{
    color: white;
    font-size: 13px;
    position: absolute;
    right: 50%;
    transform: translateX(50%); 
    background-color: rgb(29, 29, 29);
    padding: 8px;
    border-radius: 3px;
    margin-top: 30px;
   
}
.continuar:hover{
    text-decoration: none;
    background-color: rgb(65, 62, 62);
    color: white;
}
.btn:hover{
    background-color: rgb(65, 62, 62);
}
.td-white{
    background-color: white;
}
.titulo-seccion{
    color: white;
    margin-left: 3%;
    font-size: 30px;
}

.contSA{
    width: auto;
    height: auto;
    color: black;
    margin: 20px;
    font-size: 20px;
} 

.botPosition{
    position: absolute;
    left: 50px;
    bottom: 40px;
}
.botCrear{
    position: absolute;
    bottom: 40px;
    right: 50px;
}
.botCrear a{
    color: white;
    text-decoration: none;
}


.cont-form input{
    width: 80%;
    
}
.cont-form label{
margin-top: 10px;
}

.form-name-products{
margin-bottom: 0;
padding: 6px;
}
.btn-accion{
    padding: 10px;
    margin: 0;
}
.btn-accion h5{
    margin: 0;
}
.centrar-cabecera{
    display: flex;
    justify-content: center;
    align-items: center;
}
.td-articulos{
    position: relative;
}
.td-articulos a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    bottom: 33%;
    transform: translateX(-50%) ;
 
    
}

.container-mensage{
 width: 30%;
 height: 150px;
 position: absolute;
 background-color: white;
 border-radius: 3px;
 left: 50%;
 transform: translateX(-50%);

}
.container-mensage span{
position: absolute;
transform: translateX(-50%);
left: 50%;
margin-top: 20px;
}