 /* GENERAL */

 body{
    position: relative;
    margin-top: 70px;
    background: #FFA17F;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.btn:hover{
    background-color: rgb(65, 62, 62);
}
 /*ESTILOS INDEX.PHP*/

 .mensajeLogin{
    width: auto;
    height: auto;
    color: black;
    margin: 20px;
    font-size: 20px;
} 
/* ESTILOS ACCESO.PHP */ 
 
 .container-acceso{
    width: 50%;
    height: 70%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    border-radius: 3px;
    border: 1px solid rgb(13, 82, 173);
}
.header-name{
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgb(77, 125, 187);
    border-radius: 3px;
    text-align:center;
    font-size: 22px;
    padding: 10px;
    color: white;
}
.bot-acces{
    width: 200px;
    height: auto;
    padding: 20px;
    font-size: 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.botonOculto{
    display: none;
}
.botonVisto{
    display: block;
}
.botBack{
    position: absolute;
    border-radius: 3px;
    bottom: 20px;
    width: auto;
    font-size: 15px;
    padding: 8px;
    cursor: pointer;
}

/* ESTILOS DE ARTICULOS.PHP Y USUARIOS.PHP*/
.titulo-seccion{
    color: white;
    margin-left: 3%;
    font-size: 30px;
}
.botPosition{
    position: absolute;
    left: 50px;
    bottom: 40px;
}
.botCrear{
    position: absolute;
    bottom: 40px;
    right: 50px;
}
.botCrear a{
    color: white;
    text-decoration: none;
}
.td-white{
    background-color: white;
}
.header-modi-eli{
    position: relative;
    height: 60px;
    margin-top: 20px;
}
.header-modi-eli a{
    color: white;
    text-decoration: none;
    cursor:default;
    position: absolute;
    bottom: 33%;
    transform: translateX(-50%) ;
}
.td-articulos{
    position: relative;
    height: 60px;
    margin-top: 20px;
}
.td-articulos a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    bottom: 33%;
    transform: translateX(-50%) ;
}
.adminRed{
    color: red;
}
.disabled {
    pointer-events:none;
    opacity:0.6;         
}

/* ESTILOS FORMUSUARIOS.PHP Y FORMARTICULOS.PHP */

.cont-form input{
    width: 80%;    
}
.cont-form label{
margin-top: 10px;
}
.btn-accion{
    padding: 10px;
    margin: 0;
}
.btn-accion h5{
    margin: 0;
}
.container-mensage{
    width: 30%;
    height: 150px;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    left: 50%;
    transform: translateX(-50%);   
   }
.container-mensage span{
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 20px;
    }
.form-name-position{
    margin-bottom: 0;
    padding: 6px;
    }
.btn-user{
    padding: 10px;
    margin-top: 30px;
}

.enabled{
    display: flex;
    align-items: flex-start;
    font-size: small;
    color: rgb(82, 82, 83);
}











































